/* Reset some default browser styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-nav li {
    position: relative;
}

.main-nav a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-content {
    margin-top: 60px; /* Height of the header */
    margin-bottom: 60px; /* Height of the footer */
    padding: 20px;
    flex: 1;
}




.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer p {
    margin: 5px 0;
}





