<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VISIONERS</title>
  <link rel="stylesheet" href="/css/domestic.css">
</head>
<body>
<div id="header-placeholder"></div>
<div class="main-content">
  <h2>On-Air</h2>
  <p>항공기 반입 물품 체크 서비스</p>
  <button class="btn capture-button" onclick="handleCapture()">
    촬영하기
  </button>
  <div class="webcam-container">
    <iframe id="webcam-frame" src="http://127.0.0.1:5000/video_feed" width="640" height="480"></iframe>
  </div>
</div>

<!-- Modal -->
<div id="result-modal" class="modal">
  <div class="modal-content">
    <p id="result-message"></p>
    <button class="modal-button" onclick="handleReCapture()">재촬영</button>
    <button class="modal-button" onclick="closeModal()">닫기</button>
  </div>
</div>

<script>
  fetch('/header.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('header-placeholder').innerHTML = html;
    })
    .catch(error => {
      console.error('Error loading header:', error);
      console.log('header.html 못 불러옴');
    });

  async function handleCapture() {
    try {
      const response = await fetch('http://127.0.0.1:5000/detect_objects', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        }
      });
      const data = await response.json();  // JSON 응답 파싱
      document.getElementById('result-message').innerText = data.message;
      openModal();
    } catch (error) {
      console.error("Error fetching data:", error);
      document.getElementById('result-message').innerText = 'Error: ' + error.message;
      openModal();
    }
  }

  function handleReCapture() {
    closeModal();
    var iframe = document.getElementById('webcam-frame');
    iframe.src = iframe.src;
  }

  function openModal() {
    document.getElementById('result-modal').style.display = "flex";
  }

  function closeModal() {
    document.getElementById('result-modal').style.display = "none";
  }
</script>
</body>
</html>
